{% extends "lrbase.html" %}

{% block header %}
    {{ block.super }}
    <h2 style="width: 100px; position: absolute; left: 50%; margin-left: -50px">
        Register
    </h2>
{% endblock %}

{% block content %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form id="formRegister" method="post">
        {% csrf_token %}
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        {{ form.password2.label_tag }}
        {{ form.password2 }}
        {{ form.first_name.label_tag }}
        {{ form.first_name }}
        {{ form.last_name.label_tag }}
        {{ form.last_name }}
        label(for="role") Role:
      select(id="role", name="role")
        option(value="teacher") Teacher
        option(value="student", selected="selected") Student
        <button type="submit" value="login">Register</button>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>
{% endblock %}
