{% extends "base.html" %}

{% block header %}
  {{ block.super }}
  <h2 style="width: 100px; position: absolute; left: 50%; margin-left: -50px">
    Register
  </h2>
  <nav>
    <ul id="lr">
      <li>
        <a class="lr" href="/login/">
          Login
        </a>
      </li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
  <form id="form_register" method="post">
    {% csrf_token %}
    {{ form.username.label_tag }}
    {{ form.username }}
    {{ form.password1.label_tag }}
    {{ form.password1 }}
    {{ form.password2.label_tag }}
    {{ form.password2 }}
    {{ form.first_name.label_tag }}
    {{ form.first_name }}
    {{ form.last_name.label_tag }}
    {{ form.last_name }}
    {{ form.role.label_tag }}
    {{ form.role }}
    <button type="submit" value="login">Register</button>
    <input type="hidden" name="next" value="{{ next }}"/>
  </form>

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div style="text-align: center; color: crimson; width: 450px; margin: 5px auto;">
          <b>{{ error|escape }}</b>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div style="text-align: center; color: crimson; width: 450px; margin: 5px auto;">
        <b>{{ error|escape }}</b>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}
