/* CSS Reset from: https://css-tricks.com/snippets/css/meyer-reset/ */

html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}body{line-height:1;color:black;background:white;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}abbr,acronym{border:0;}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.content {
   padding: 5px;
}

h1 {
	color: #262626;
	font-size: 44px;
	line-height: 48px;
	margin: 0 0 30px;
}
h2 {
	font-size: 32px;
	font-weight: normal;
	line-height: 42px;
	margin: 0 0 24px;
	padding: 12px 0 0;
}
h3 {
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	margin: 0 0 24px;
	padding: 12px 0 0;
}

a {
  color: #00B7FF;
}

header {
    background-color: #f9f9ff;
    border-bottom: 1px solid #dedede;
    height: 60px;
}

footer {
    height: 60px;
}
nav {
    color: #888;
    display: block;
}

nav ul {
    padding: 3px;
    float: right;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav > ul > li > a {
    color: #aaa;
    display: block;
    line-height: 56px;
    padding: 0 24px;
    text-decoration: none;
}

.lr {
    color: #000000;
    display: block;
    line-height: 56px;
    padding: 0 24px;
    text-decoration: none;
}

.username {
    padding: 0 5px;
    color: #e94444;
}

td.mark input {
    display: inline-block;
    border: 1px #eee solid;
}

td.mark input[type=number] {
    width: 35px;
    height: 30px;
    padding: 0px 3px;
    margin: 0px 3px 0px 8px;
}

span.markValue {
    font-weight: bold;
    font-size: large;
    color: #3862e0
}

td.mark button[type=submit] {
    height: 30px;
    width: 30px;
    background-color: #fff;
    margin: 0px 3px;
    cursor: pointer;
    border: 1px #eee solid;
}

td.mark button[type=submit]:hover {
   background-color: #eee;
}

table.teacher {
    width: 100%;
}

th {
    font-weight: bold;
    text-align: center;
}

th, td {
    padding: 5px;
    border: 1px solid #ddd;
}

td.mark {
    white-space: nowrap;
}

td.mark form {
    display: inline-block;
}

form#formLogin {
    margin: 50px auto;
    width: 450px; 
    display: block;
    border: 1px #eee solid;
    padding: 10px;
}

form#formRegister {
    margin: 50px auto;
    width: 450px;
    display: block;
    border: 1px #eee solid;
    padding: 10px;
}

/*form#formRegister {*/
    /*margin: 50px 30px 50px auto;*/
    /*margin: 50px auto;*/
    /*width: 450px;*/
    /*display: block;*/
    /*display: inline-block;*/
    /*border: 1px #eee solid;*/
    /*padding: 10px 20px 10px 10px;*/
    /*padding: 10px;*/
/*}*/

form#formRegister label,
form#formLogin label {
    display: block;
    margin: 10px auto;
}

form#formRegister input[type=text],
form#formRegister input[type=password],
/*form#formRegister select,*/
form#formLogin input[type=text],
form#formLogin input[type=password] {
    border: 1px solid #ccc;
    display: block;
    box-sizing: border-box;
    /*margin: auto auto auto auto;*/
    width: 100%;
    height: 30px;
    padding: 3px;
}

form#formRegister input[type=text]:focus,
form#formRegister input[type=password]:focus,
form#formLogin input[type=text]:focus,
form#formLogin input[type=password]:focus {
    background-color: lightyellow;
}

form#formRegister button,
form#formLogin button {
    margin: 7px 0;
}

/*div#divLogins {*/
    /*width: 250px;*/
    /*vertical-align: top;*/
    /*display: inline-block;*/
    /*margin: 50px auto auto 30px;*/
/*}*/

/*div#reg {*/
    /*display: block;*/
    /*width: 800px;*/
    /*margin: auto;*/
/*}*/

/*li#liLogin {*/
    /*margin: 3px auto auto 3px;*/
    /*border: 1px #eee solid;*/
    /*!*font-weight: bold;*!*/
    /*padding: 3px;*/
    /*display: block*/
/*}*/

/*h3#h3Logins {*/
    /*text-align: center;*/
    /*font-weight: normal;*/
    /*font-size: x-large;*/
/*}*/